<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright © 2013-2016 The Nxt Core Developers.                            ~
  ~ Copyright © 2016-2018 Jelurida IP B.V.                                    ~
  ~                                                                           ~
  ~ See the LICENSE.txt file at the top-level directory of this distribution  ~
  ~ for licensing information.                                                ~
  ~                                                                           ~
  ~ Unless otherwise agreed in a custom licensing agreement with Jelurida B.V.,
  ~ no part of the Nxt software, including this file, may be copied, modified,~
  ~ propagated, or distributed except according to the terms contained in the ~
  ~ LICENSE.txt file.                                                         ~
  ~                                                                           ~
  ~ Removal or modification of this copyright notice is prohibited.           ~
  ~                                                                           ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<div class="modal fade" id="changenow_send_modal" data-disable-fee-calculation="true" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="changenow_send_amount_title"></h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="callout callout-danger error_message" style="display:none"></div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="changeNow_send_amount"  data-i18n="amount">AMOUNT</label>
                                <div class="input-group">
                                    <input id="changeNow_send_amount" class="form-control" >
                                    <span id="changeNow_send_amount_coin_name" class="input-group-addon" ></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="changeNow_minAmount"  data-i18n="min_deposit_amount">min_deposit_amount</label>
                                <div class="input-group">
                                    <input id="changeNow_minAmount" class="form-control" readonly >
                                    <span id="changeNow_minAmount_coin_name"  class="input-group-addon" ></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="changeNow_rate" data-i18n="rate">RATE</label>
                                <div class="input-group">
                                    <input  id="changeNow_rate" class="form-control" readonly>
                                    <span id="changeNow_rate_coin_name" class="input-group-addon" ></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="changeNow_fee" data-i18n="fee">FEE</label>
                                <div class="input-group">
                                    <input id="changeNow_fee"  class="form-control" readonly>
                                    <span id="changeNow_fee_coin_name" class="input-group-addon" ></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="changeNow_receive_amount"  data-i18n="amount">AMOUNT</label>
                                <div class="input-group">
                                    <input id="changeNow_receive_amount"  class="form-control" readonly>
                                    <span id="changeNow_receive_amount_coin_name" class="input-group-addon" ></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-16 col-sm-8 col-md-8">
                            <div class="form-group">
                                <label for="changeNow_withdrawal_address"  data-i18n="withdrawal_address">WITHDRAWAL ADDRESS</label>
                                <div class="input-group">
                                    <input id="changeNow_withdrawal_address"  class="form-control">
                                    <span id="changeNow_withdrawal_address_coin_name" class="input-group-addon" ></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row changenowQR">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="m_send_amount_sell_deposit_address" data-i18n="deposit_address">DEPOSIT ADDRESS</label>
                                <div class="input-group">
                                    <span id="m_send_amount_sell_deposit_address"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row changenowQR">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="m_send_amount_sell_qr_code" data-i18n="deposit_qr_code">Deposit QR Code</label>
                                <div class="input-group">
                                    <div id="m_send_amount_sell_qr_code"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="display:none;">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <label for="m_send_amount_sell_deposit_message">DEPOSIT MESSAGE</label>
                                <div class="input-group">
                                    <span id="m_send_amount_sell_deposit_message"></span>
                                </div>
                            </div>
                            <div class="form-group callout callout-warning">
                                <i class='far fa-exclamation-triangle'></i>&nbsp
                                <span id="m_send_amount_sell_deposit_message_warning"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row changenowQR">
                        <div class="col-xs-24 col-sm-12 col-md-12">
                            <div class="form-group">
                                <span data-i18n="deposit_instructions_sendamount">
                                    Copy the deposit address or scan the QR code from your coin wallet and deposit your funds.<br>
                                    Deposit the exact amount. Once you completed your deposit click the "Done" button.<br>
                                    To cancel your deposit click the "Cancel" button.<br>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="changenow_phrase">
                        <div data-replace-with-modal-template="fee_calculation_modal_template"></div>
                        <div data-replace-with-modal-template="secret_phrase_modal_template"></div>
                    </div>
                    <input type="hidden" name="request_type" value="sendMoney" data-default="sendMoney" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"data-i18n="cancel">Cancel</button>
                <button type="button" id="changenow_send_amount_next" class="btn btn-primary" data-i18n="next">Next</button>
                <button type="button" id="changenow_send_amount_done" data-dismiss="modal" class="btn btn-primary" data-i18n="done">Done</button>
                <button type="button" id="changenow_send_amount_buy_submit" class="btn btn-primary"  data-ignore="true" data-loading-text="Submitting..." data-i18n="submit;[data-loading-text]submitting">Submit</button>

            </div>
        </div>
    </div>
</div>
